HELP.md
backend/target/
!.mvn/wrapper/maven-wrapper.jar
!untitled/src/main/**/target/
!untitled/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!untitled/src/main/**/build/
!untitled/src/test/**/build/

### VS Code ###
.vscode/

### misc ###
/RENT-SYS
RENT-SYS.zip
docker-compose.yaml.bak
