.transparent-input-group-text {
  background-color: transparent;
  border: none;
}

.custom-navbar-link {
  margin-left: 0.5rem;
}

.custom-navbar-link.active {
  font-weight: bold;
}

.main-component {
  min-height: 87vh;
}
