body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

/* .slick-current {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-current > div {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-track > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slide > div {
  display: grid;
  place-items: center;
}
